/* Mobile first queries */
body {
    font-family: 'Roboto';
}
.navbar a{
    color:black;
    font-weight:bold;
}
.bgwhite{
    background-color:white;
}
.loGo{
    font-size: 2em;
    font-weight:bold;
}
.active{
    background-color:#9B9B9B;
}
.bgCustom{
    background-color:#9B9B9B;
}
.fontWhite{
    color:white;
}
.jumbotron h2{
    font-weight: lighter;
}
.lorEm{
    text-align: center;
}
#blockOne{
    position: relative;
    right: 30px;
}
#blockTwo{
    position: relative;
    left: 30px;
}
#movieImg{
    margin: auto;
}
#jumboBottom a{
    color: white;
}


/* Larger than mobile */
@media (min-width: 405px) {

.nItem{
    border-radius: 5px;
}
.nItem:hover{
    border-radius: 5px;
}
.nav a{
    border-radius: 5px;
    transition: all 0.5s;
}
}